.main {
  width: 100vw;
  background: url('../images/Logo.png') no-repeat;
  background-size: 70%;
  background-position-y: 30%;
  background-position-x: 50%;
  background-attachment: fixed;
  background-color: #ffe408;
}

.footer {
  background: url('../images/FooterBG.jpg');
}

.header {
  display: flex;
  align-items: center;
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
