.main {
  height: 100vh;
  width: 100vw;
  background: url('../images/Logo.png') no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: #ffe408;
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
